<h3>Welcome <%=current_user.name%>!</h3>
<br>
<p>
What would you like to do today?
</p>
<br>
<p>
<%=link_to 'View all of your reviews', reviews_path%> &nbsp;
<%=link_to 'Create a new review', new_review_path%>  &nbsp;

</p>
         




