<h3>Welcome <%=current_user.name%>!</h3>
<br>
<p>
What would you like to do today?
</p>
<br>
<p>
<%=link_to 'View all of your reviews', user_reviews_path(@user)%> &nbsp;
<%=link_to 'Create a new review', new_user_review_path(@user)%>  &nbsp;

</p>
         




