<div>

  <div style='width: 600px;margin:auto'><br>
    <img  style='width: 600px' src=https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80
  </div>
  <div>
  <h1 align="center">Welcome to the Course Review App!</h1>
</div> 