<div class="container-show">

<h2>Username: <%= current_user.name %></h2>

<h3>Title: <%= @review.title %> </h3>
<h3>Comment: <%= @review.comment %></h3>
<br>
</div>

<div id="return-button">
<h3><%= link_to 'Return to the reviews page', reviews_path(current_user), :class => "btn btn-info" %></h3>
<div>

